<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <base href="https://utnfrrottads.github.io/presentacion-angulario/" />
        <title>Angular </title>

        <link rel="stylesheet" href="./css/reveal.css">
        <link rel="stylesheet" href="./css/theme/white.css">
        <link rel="stylesheet" href="./css/presentation.css">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="./lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? './css/print/pdf.css' : './css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
              <section>
                <h1>Angular</h1>
                <h2>UTN Rosario</h2>
                <h3>TTADS</h3>
                <h3>
                  <a href="https://github.com/utnfrrottads/">

                    Técnicas y Tecnologías Avanzadas de Desarrollo de Software</a>
                </h3>
                <p>
                    <a href="https://github.com/aotaduy">Ing. Andres Otaduy</a>
                    <a href="https://github.com/adrianmeca">Ing. Adrian Meca</a>
                </p>
            </section>

                <section>
                    <section>
                        <h2>HTML + HTTP Paginas Estaticas</h2>
                        <a href="http://info.cern.ch/hypertext/WWW/TheProject.html">Primer pagina web</a>
                        <a href="http://line-mode.cern.ch/www/hypertext/WWW/TheProject.html">Emulador</a><br>
                        <img src="img/theproject.png" alt="" height="400px" />
                    </section>
                    <section>
                        <h1>Evolucion FrontEnd</h1>
                        <h2>HTML + Imagenes + Tablas</h2>
                        <img src="img/mosaic.png" alt=""  height="400px"/>
                    </section>
                    <section>
                        <h2>Hypermedia: HTML + Imagenes + Tablas</h2>

                        <img src="img/geocities1.png" alt=""  height="350px" />
                        <img src="img/geocities2.png" alt=""  height="350px" />

                    </section>
                    <section>
                        <h2>Web Applications</h2>
                        <p>
                            Perl, ASP, PHP, Apache, MySQL
                        </p>
                        <img src="img/yahoo.jpg" alt=""  height="350px" />
                        <img src="img/hotmail.jpg" alt=""  height="350px" />

                    </section>
                    <section>
                        <h2>Single Page Applications</h2>
                        <p>
                            NodeJs, Java, C#, MongoDB, Javascript, REST API
                        </p>
                        <img src="img/gmail.png" alt=""  height="300px" />
                        <img src="img/facebook.png" alt=""  height="250px" />
                    </section>
                    <section>
                        <h1>SPA: Single Page Applications</h1>
                        <ul>
                            <li>Servicios REST</li>
                            <li>Frameworks Front End <a href="https://www.angular.io">Angular</a>, <a href="https://emberjs.com/">ember</a>, <a href="https://knockoutjs.com/">knockout, <a href="https://es.reactjs.org/"> React</a></li>
                            <li>Separacion de Intereses</li>
                            <li>Division de Backend / Frontend</li>
                            <li>Mobile o Mobile First</li>
                            <li><a href="https://www.madewithangular.com/">Examples</a></li>
                        </ul>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>Javascript</h1>
                        <ul>
                            <li>                  Libro: Javascript the good parts</li>
                            <li>                  Conferencia en google <a href="https://www.youtube.com/watch?v=lP9-Zx_cCUg">Javascript the good parts subtitulada</a>
                            </li>
                            <li>                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN</a>
                            </li>
                            <li>                <a href="https://developer.mozilla.org/es/docs/Web/JavaScript">MDN en castellano</a>
                            </li>
                        </ul>




                    </section>
                    <section>
                       <h1> Javascript </h1>
                        <ul>
                            <li>Uno de los lenguajes mas usados e incomprendidos del mundo</li>
                            <li>Obligatorio para programar en el browser</li>
                            <li>Interfaz con el <a href="https://www.xml.com/pub/a/1999/07/dom/xml_dom.gif">DOM </a> </li>
                            <li>Sintaxis de C, Semantica de Scheme</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Javascript influencias</h1>
                        <ul>
                            <li>Scheme</li>
                            <li>Java</li>
                            <li>Self</li>
                            <li>Perl</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Correr JS</h1>
                        <ul>
                            <li>Embebido</li>
                            <li>Scripts</li>
                            <li>NodeJs</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Javascript Good Parts</h1>
                        <ul>
                            <li>Loose Typing</li>
                            <li>Objetos Dinamicos</li>
                            <li>Funciones de Orden Superior</li>
                            <li>Funciones Lambda</li>
                            <li>Funciones Clousures</li>
                            <li>Objetos Literales</li>
                            <li>Herencia prototipica</li>
                            <li>Es facil!</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Funciones de Orden Superior</h1>
                        <pre><code class="js">
function paraCada(unArray, unaFuncion) {
  for (i=0; i < unArray.length; i++) {
    unaFuncion(unArray[i], i);
  }
}

paraCada([10,20,'hola', 'que', 87], function(elem, index) {
  console.log('Elemento:', elem, index)
});

function mapear(unArray, unaFuncion) {
  var answer = [];
  for (i=0; i < unArray.length; i++) {
    answer.push(unaFuncion(unArray[i], i));
  }
  return answer;
}

function cuad(a) {
  return a*a;
}

console.log(mapear([1,2,3,4,5], cuad));
                </code></pre>
                    </section>
                    <section>
                        <h1>Funciones Lambda</h1>
                        <pre><code class="js">var cuad, cubo, array = [1,2,3,4];
cuad = function(a){
  return a * a;
};
cubo = function(a) {
  return cuad(a) * a;
};
var array = [3,5,7,9,11,14];
array.map(cuad) + array.map(cubo);
console.log(array.reduce(0, suma));

array.filter(function (elem){ return elem > 10})
    .map(function (elem) { return elem * elem });

function suma(a,b) {
  return a + b;
}
</code></pre>
                    </section>
                    <section>
                        <h1>Clousures</h1>
                        <pre><code class="js">function makeAdder(a) {
  return function(b) {
    return a + b;
  };
}
var x = makeAdder(5);
var y = makeAdder(20);
x(6); // ?
y(7); // ?
</code></pre>
                    </section>

                    <section>
                        <h1>Objetos dinamicos</h1>
                        <pre><code class="js">var object = {name: 'Jon'};
object.lastName = 'Smith';
object.print = function(){
  console.log('Name:', this.name);
  console.log('LastName:', this.lastName)};
object.print();</code></pre>
                    </section>
                    <section>
                        <h1>Objetos Literales</h1>
                        <pre><code class="js">{
  "glossary":{
    "title":"example glossary",
    "GlossDiv":{
      "title":"S",
      "GlossList":{
        "GlossEntry":{
          "ID":"SGML",
          "SortAs":"SGML",
          "GlossTerm":"Standard Generalized Markup Language",
          "Acronym":"SGML",
          "Abbrev":"ISO 8879:1986",
          "GlossDef":{
            "para":"A meta-markup language, used to create markup languages such as DocBook.",
            "GlossSeeAlso":[
              "GML",
              "XML"
            ]
          },
          "GlossSee":"markup"
        }
      }
    }
  }
}</code></pre>
                    </section>
                    <section>
                        <h1>Herencia Prototipica</h1>
                        <pre><code class="js">
var padre = {nombre: 'Pepe', apellido: 'Perez'};
var hijo = Object.create(padre);
padre.mostrarNombre = function() { console.log(this.nombre)};
hijo.nombre = 'Pedro';
padre.mostrarNombre();
hijo.mostrarNombre();
console.log(hijo.apellido);</code></pre>
                    </section>
                    <section>
                        <h1>Clases con Herencia Prototipica</h1>
                        <pre><code class="js">// Shape - superclass
  function Shape() {
    this.x = 0;
    this.y = 0;
  }

  // superclass method
  Shape.prototype.move = function(x, y) {
    this.x += x;
    this.y += y;
    console.info('Shape moved.');
  };

  // Rectangle - subclass
  function Rectangle() {
    Shape.call(this); // call super constructor.
  }

  // subclass extends superclass
  Rectangle.prototype = Object.create(Shape.prototype);
  Rectangle.prototype.constructor = Rectangle;

  var rect = new Rectangle();

  console.log('Is rect an instance of Rectangle?',
    rect instanceof Rectangle); // true
  console.log('Is rect an instance of Shape?',
    rect instanceof Shape); // true
  rect.move(1, 1); // Outputs, 'Shape moved.'</code></pre>
                    </section>
                    <section>
                        <h1>Javascript Bad Parts</h1>
                        <ul>
                            <li>Interfaz con el <a href="https://www.xml.com/pub/a/1999/07/dom/xml_dom.gif">DOM </a> </li>
                            <li>Insercion de punto y coma</li>
                            <li>comparaciones == != (<a href="https://dorey.github.io/JavaScript-Equality-Table/">ver tabla</a>)</li>
                            <li>Es facil!</li>
                        </ul>
                    </section>

                    <section>
                        <h1>Ejercicios JS 1</h1>
                        <p>Crear una funcion buscar(array, criterio, siVacio), que reciba un array y dos funciiones si criterio es verdadero devolver el elemento encontrado sino doveolver el resultado de ejecutar la otra funcion "siVacio" </p>
                        <pre><code>buscar(
  [1,2,3,4],
  function(each){ return each === 5},
  function() {return 'no encontrado'}
);
                        </code></pre>
                      </section>
                    <section>
                        <h1>Ejercicios JS 2 </h1>
                        <p>Completar el ejemplo de Shape para que incluya circulos y triangulos, un metodo para mostrar cada uno por consola y un metodo para escalar cada figura en un porcentaje</p>
                    </section>
                    <section>
                      <h1>Ejercicio JS 3</h1>
                      <p>
                        Crear mediante un objeto literal la estructura de 3 carreras de grado y una de pregrado de la utn con sus materias, duracion de cada carrera, nombre de la materia y descripción. 
                      </p>
                      <p>A partir de este arbol mostrar por consola codigo html que represente este arbol con un formato amigable (h1, h2 para titulos, ol, ul para listas, etc) </p>
                    </section>
                </section>
            <section>
              <section>
                <h1>Angular Intro</h1>
                <ul>
                  <li>TypeScript -> ES6</li>
                  <li>Modulos Ng and ES6</li>
                  <li>Componentes</li>
                  <li>Templates</li>
                  <li>Bootstraping</li>
                  <li>Data Binding</li>
                  <li>Directives</li>
                  <li>Services</li>
                  <li>HTTP</li>
                </ul>
              </section>
              <section>
                <h1>Angular 2 Ventajas</h1>
                <ul>
                  <li>TypeScript y ES6</li>
                  <li>Arquitectura de Componentes</li>
                  <li>Modularidad (ES6)</li>
                  <li>RxJs - Reactive Programming</li>
                  <li>Mejor Performance</li>
                  <li>Architectura un poco mas simple</li>
                  <li>CSS Modular</li>
                    <li>Testeabilidad</li>
                <li>Una Arquitectura completa</li>
                </ul>
              </section>
              <section>
                <h1>Angular 2 Contras</h1>
                <ul>
                  <li>Usa TypeScript casi obligatoriamente</li>
                  <li>Cambio total con respecto a angular 1</li>
                    <li>Framework Complejo</li>
                    <li>Una Arquitectura completa</li>
                    <li>Syntaxis de los templates mas alejada de html</li>
                </ul>
              </section>
              <section>
                <h1>Arquitectura</h1>
                <img src="img/ng2-architecture.png" alt="" />
              </section>
              <section>
                <h1>Componentes</h1>
                <ul>
                    <li>Permiten crear nuevos tags html</li>
                  <li>Se definen como clases con anotaciones</li>
                  <li>La instancia se vincula al template</li>
                  <li>Dependencias Explicitas</li>
                  <li>Hojas de Estilos modulares</li>
                  <li>Usa el Shadow Dom</li>
                  <li>Callbacks del ciclo de vida (hooks)</li>
                </ul>
                  <pre><code class="html"><datepicker id="date" [value]="10/10/2018"></datepicker>
<ttads-form>
    <users-list
            [list]="users"
            (onChange)="selection = $event">
    </users-list>
    <users-form [model]="selection"></users-form>
</ttads-form>
</code></pre>

              </section>
                <section>
                    <h1>Ejemplos</h1>
                    <h4>Componentes de material design</h4>
                  <pre><code class="html">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
Estp es una descripcion del perro
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

                  </code></pre>
                    <a href="https://material.angular.io/components/card/examples">Link</a>
                </section>
              <section>
                <h1>Sintaxis de un componente</h1>
                <pre><code class="ts">import { Component } from '@angular/core';
import {TodoItem} from './todo-item'

@Component({
  selector: 'app-root',
  templateUrl: 'app.component.html',
  styleUrls: ['app.component.css']
})
export class AppComponent {
  title = 'app works!';
  list: Array&lt;TodoItem&gt;;
  item: TodoItem;

  constructor() {
    this.list = [];
    this.item = new TodoItem;
  }

  add( anItem: TodoItem) {
    this.list.push(anItem);
    this.item = new TodoItem;
  }

  remove( index: number) {
    this.list.splice(index,1);
  }
}</code></pre>
              </section>
              <section>
                <h1>Templates</h1>
<pre><code class="html">
&lt;h1 [ngClass]=&quot;{&apos;big&apos;: list.length &gt; 5}&quot; &gt;Todo {{list.length}}&lt;/h1&gt;&#10;  &lt;input type=&quot;text&quot; [(ngModel)]=&quot;item.text&quot;&gt;&#10;  &lt;input type=&quot;button&quot;  value=&quot;Add&quot; (click)=&quot;add(item)&quot;&gt;&#10;  &lt;ul&gt;&#10;    &lt;li&#10;    [ngClass]=&quot;{&apos;done&apos;: todoItem.done}&quot; \&#10;    *ngFor=&quot;let todoItem of list; let i = index&quot;&gt;&#10;      &lt;input type=&quot;checkbox&quot; [(ngModel)]=&quot;todoItem.done&quot;&gt;&#10;        {{todoItem.text}}&#10;        &lt;input&#10;          *ngIf=&quot;todoItem.done&quot;&#10;          (click)=&quot;remove(i)&quot;&#10;          type=&quot;button&quot;&#10;          name=&quot;name&quot;&#10;          value=&quot;X&quot;&gt;&#10;      &lt;/li&gt;&#10;  &lt;/ul&gt;
</code></pre>
              </section>
                <section>
                    <h1>Template Bindings</h1>
                    <ul>
                        <li>Expresiones ejecutables</li>
                        <li>Se reemplaza la expresion por su resultado</li>
                        <li>Se detectan automaticamente los cambios.</li>
                    </ul>
                    <pre><code class="html">
<h2>Resultado {{2+2}}</h2>
{{items.length  === 0 ? 'Vacio' : items.length}}
<input type="text" [(ngModel)]="palabras"}> #Palabras: {{palabras.split(' ').length}}
                    </code></pre>
                </section>
                <section>
                    <h1>{{Expresiones de un Template}}</h1>
                    <ul>
                        <li>sin efectos secundarios =, new, ++ ;</li>
                        <li>El scope es la instancia del componente</li>
                        <li>No hay espacio de nombres global</li>
                        <li>Rapido</li>
                        <li>Idempotente </li>
                    </ul>
                </section>
                <section>
                    <h1>[Binding de atributos]</h1>
                    <ul>
                        <li>Sintaxis: [atributo]="expresion"</li>
                        <li>Debe ser una expresion angular</li>
                        <li>Si se omiten los corchetes se pasa un string</li>
                        <li>El valor de resultado se remplaza.</li>
                        <li>Si el atributo no esta en el dom se usa [attr.atributo]</li>
                        <li>En nuestros componentes se pueden declarar atributos custom</li>

                    </ul>
                    <pre><code class="html">
<input
    [type]="isPassword ? 'password' : 'text'"
/>
<input
        [attr.id]="inputId + (isPassword ? '-password' : '-text')"
/>
<input
        [maxlength]="longMax * 2"
/>
                    </code></pre>
                </section>
                <section>
                    <h1>(Eventos)</h1>
                    <ul>
                        <li>Sintaxis: (evento)="expresion($event)"</li>
                        <li>Debe ser una expresion angular</li>
                        <li>Esta disponible la variable $event</li>
                        <li>estan disponibles todos los eventos del dom (click, focus, input, keyup, keydown, etc)</li>
                        <li>En nuestros componentes se pueden declarar eventos custom</li>
                    </ul>
                    <pre><code class="html">
<input type="text" (keyup)="update($event)">
<button (click)="onOkClicjed()">Ok</button>
<div (mousemove)="onMouseMove($event)" class="scrible"> </div>
                    </code></pre>
                </section>
                <section>
                    <h1>Elementos de un template</h1>
                    <ul>
                        <li>Codigo HTML</li>
                        <li>bindings {{}}</li>
                        <li>attribute []</li>
                        <li>events (): Statements $event available</li>
                        <li>Two Way binding [()]</li>
                        <li>Directives</li>
                        <li>Components</li>
                        <li>Pipes</li>
                    </ul>
                </section>
                <section>
                    <h1>Directivas del framework</h1>
                    <ul>
                        <li>NgClass, NgStyle</li>
                        <li>*NgIf *NgFor *NgSwitch</li>
                    </ul>
                </section>
              <section>
                <h1>{{Expresiones de un Template}}</h1>
                <ul>
                  <li>sin efectos secundarios =, new, ++ ;</li>
                  <li>El scope es la instancia del componente</li>
                  <li>No hay espacio de nombres global</li>
                  <li>Rapido</li>
                  <li>Simple</li>
                  <li>Idempotente </li>
                </ul>
                <h2>Template Statements</h2>
              </section>

              <section>
                <h1>Bindings de Atributos, Clases y Estilos </h1>
                <pre><code class="js">&lt;table border=1&gt;&#10;  &lt;!--  expression calculates colspan=2 --&gt;&#10;  &lt;tr&gt;&lt;td [attr.colspan]=&quot;1 + 1&quot;&gt;One-Two&lt;/td&gt;&lt;/tr&gt;&#10;&#10;  &lt;!-- ERROR: There is no `colspan` property to set!&#10;    &lt;tr&gt;&lt;td colspan=&quot;{{1 + 1}}&quot;&gt;Three-Four&lt;/td&gt;&lt;/tr&gt;&#10;  --&gt;&#10;&#10;  &lt;tr&gt;&lt;td&gt;Five&lt;/td&gt;&lt;td&gt;Six&lt;/td&gt;&lt;/tr&gt;&#10;&lt;/table&gt;</code></pre>
              </section>
            <section>
              <h1>Clase Binding</h1>
              <pre><code class="html">&lt;!-- toggle the &quot;special&quot; class on/off with a property --&gt;&#10;&lt;div [class.special]=&quot;isSpecial&quot;&gt;The class binding is special&lt;/div&gt;&#10;&#10;&lt;!-- binding to `class.special` trumps the class attribute --&gt;&#10;&lt;div class=&quot;special&quot;&#10;     [class.special]=&quot;!isSpecial&quot;&gt;This one is not so special&lt;/div&gt;&#10;</code></pre>
            </section>
            <section>
              <h1>Estiilo Binding</h1>
              <pre><code class="html">&lt;button [style.color] = &quot;isSpecial ? &apos;red&apos;: &apos;green&apos;&quot;&gt;Red&lt;/button&gt;&#10;&lt;button [style.background-color]=&quot;canSave ? &apos;cyan&apos;: &apos;grey&apos;&quot; &gt;Save&lt;/button&gt;&#10;&lt;button [style.font-size.em]=&quot;isSpecial ? 3 : 1&quot; &gt;Big&lt;/button&gt;&#10;&lt;button [style.font-size.%]=&quot;!isSpecial ? 150 : 50&quot; &gt;Small&lt;/button&gt;
</code></pre>
            </section>

            <section>
              <h1>Eventos de un componente</h1>
              <pre><code class="js">import {Component} from '@angular/core';

@Component({
  selector: 'counter',
  template: `
    <div>
      <p>Count: {{num}}</p>
      <button (click)="increment()">Increment</button>
    </div>
  `
})
export class CounterComponent {
  num = 0;

  increment() {
    this.num++;
  }
}</code></pre>
            </section>
            <section>
              <h1>Eventos de un componente</h1>
              <pre><code class="js">import { Component, EventEmitter, Input, Output } from '@angular/core';

@Component({
  selector: 'counter',
  templateUrl: 'app/counter.component.html'
})
export class CounterComponent {
  @Input()  count = 0;
  @Output() result = new EventEmitter<number>();

  increment() {
    this.count++;
    this.result.emit(this.count);
  }
}</code></pre>
            </section>
            <section>
              <h1>Two Way Binding</h1>
              <pre><code class="html"><input [(ngModel)]="name" >
<input [ngModel]="name" (ngModelChange)="name=$event"></code></pre>
<pre><code class="js">import { Component, Input, Output, EventEmitter } from '@angular/core';

@Component({
  selector: 'counter',
  templateUrl: 'app/counter.component.html'
})
export class CounterComponent {
  @Input() count = 0;
  @Output() countChange = EventEmitter<number>();

  increment() {
    this.count++;
    this.countChange.emit(this.count);
  }
}</code></pre>
            </section>
            <section>
              <h1>Projeccion de Contenido</h1>
              <pre><code class="js">import { Component } from '@angular/core';

@Component({
  selector: 'child',
  template: `
    <div style="border: 1px solid blue; padding: 1rem;">
      <h4>Child Component</h4>
      <ng-content></ng-content>
    </div>
  `
})
export class ChildComponent {
}</code></pre>
<pre><code class="html"> <child>
    <p>Contenido proyectado.</p>
  </child></code></pre>
            </section>
            <section>
              <h1>Seleccion de contenido proyectado</h1>
              <pre><code class="html">
<rio-child-select>
  <section>Section Content</section>
  <div class="class-select">
    div with .class-select
  </div>
  <footer>Footer Content</footer>
  <header>Header Content</header>
</rio-child-select></code></pre>
            </section>
            <section>
              <h1>Seleccion de contenido proyectado</h1>
              <pre><code class="html"><div style="...">
  <h4>Child Component with Select</h4>
  <div style="...">
    <ng-content select="header"></ng-content>
  </div>
  <div style="...">
    <ng-content select="section"></ng-content>
  </div>
  <div style="...">
    <ng-content select=".class-select"></ng-content>
  </div>
  <div style="...">
    <ng-content select="footer"></ng-content>
  </div>
</div></code></pre>

            </section>
<section>
  <h1>Ciclo de Vida</h1>
  <ul>
    <li><code>ngOnChanges</code> - cuando cambia un binding input</li>
    <li><code>ngOnInit</code> - despues del primer <code>ngOnChanges</code></li>
    <li><code>ngDoCheck</code> - despues de cada change detection </li>
    <li><code>ngAfterContentInit</code> - despues de inicializado el contenido</li>
    <li><code>ngAfterContentChecked</code> - despues de cada checkeo del contenido</li>
    <li><code>ngAfterViewInit</code> - despues de incializada la vista</li>
    <li><code>ngAfterViewChecked</code> - despues de cada check de la vista</li>
    <li><code>ngOnDestroy</code> - justo antes de destruir el componente</li>
  </ul>
</section>
<section>
  <h1>Usando otros componentes</h1>
  <h2>@ViewChild</h2>
  <pre><code class="js">import { Component, ViewChild } from '@angular/core';
import { AlertComponent } from './alert.component';

@Component({
    selector: 'app-root',
    template: `
    <app-alert>My alert</app-alert>
      <button (click)="showAlert()">Show Alert</button>`
})
export class AppComponent {
  @ViewChild(AlertComponent) alert: AlertComponent;

  showAlert() {
    this.alert.show();
  }
}</code></pre>
</section>
<section>
  <h1>@ViewChildren</h1>
  <pre><code class="js">import { Component, QueryList, ViewChildren } from '@angular/core';
import { AlertComponent } from './alert.component';

@Component({
    selector: 'app-root',
    template: `
    <app-alert ok="Next" (close)="showAlert(2)">
      Step 1: Learn angular
    </app-alert>
    <app-alert ok="Next" (close)="showAlert(3)">
      Step 2: Love angular
    </app-alert>
    <app-alert ok="Close">
      Step 3: Build app
    </app-alert>
      <button (click)="showAlert(1)">Show steps</button>`
})
export class AppComponent {
  @ViewChildren(AlertComponent) alerts: QueryList<AlertComponent>;
  alertsArr = [];

  ngAfterViewInit() {
    this.alertsArr = this.alerts.toArray();
  }

  showAlert(step) {
    this.alertsArr[step - 1].show(); // step 1 is alert index 0
  }
}</code></pre>
</section>
<section>
  <h1>Content Children</h1>
  <h2>@ContentChild y @ContentChildren</h2>
  trabajan de la misma forma que @ViewChild y @ViewChildren pero sobre el contenido proyectado
</section>
<section>
  <h1>ElementRef</h1>
  <pre><code class="js">import { AfterContentInit, Component, ElementRef } from '@angular/core';

@Component({
    selector: 'app-root',
    template: `
    <h1>My App</h1>
    <pre>
      <code>{{ node }}</code>
    </pre>
  `
})
export class AppComponent implements AfterContentInit {
  node: string;

  constructor(private elementRef: ElementRef) { }

  ngAfterContentInit() {
    const tmp = document.createElement('div');
    const el = this.elementRef.nativeElement.cloneNode(true);

    tmp.appendChild(el);
    this.node = tmp.innerHTML;
  }

}</code></pre>
</section>
            <section>
              <h1>Variables de Referencia de un template</h1>
              <pre><code class="html">
&lt;!-- phone refers to the input element; pass its `value` to an event handler --&gt;&#10;  &lt;input #phone placeholder=&quot;phone number&quot;&gt;&#10;  &lt;button (click)=&quot;callPhone(phone.value)&quot;&gt;Call&lt;/button&gt;&#10;&#10;  &lt;!-- fax refers to the input element; pass its `value` to an event handler --&gt;&#10;  &lt;input ref-fax placeholder=&quot;fax number&quot;&gt;&#10;  &lt;button (click)=&quot;callFax(fax.value)&quot;&gt;Fax&lt;/button&gt;&#10;</code></pre>
            </section>
            <section>
              <h1>Modulos y NgModule</h1>
              <pre><code class="js">export class ZipCodeValidator implements StringValidator {
    isAcceptable(s: string) {
        return s.length === 5 && numberRegexp.test(s);
    }
}</code></pre>
<pre><code class="js">import { ZipCodeValidator } from "./ZipCodeValidator";

let myValidator = new ZipCodeValidator();</code></pre>
<pre><code class="js"> NgModule(options : {&#10;constructor(options?: NgModuleMetadataType)&#10;providers : Provider[]&#10;declarations : Array&lt;Type&lt;any&gt;|any[]&gt;&#10;imports : Array&lt;Type&lt;any&gt;|ModuleWithProviders|any[]&gt;&#10;exports : Array&lt;Type&lt;any&gt;|any[]&gt;&#10;entryComponents : Array&lt;Type&lt;any&gt;|any[]&gt;&#10;bootstrap : Array&lt;Type&lt;any&gt;|any[]&gt;&#10;schemas : Array&lt;SchemaMetadata|any[]&gt;&#10;}) </code></pre>
            </section>
            <section>
              <h1>Subcomponentes Input and Output</h1>
              <pre><code class="js">import { Component, Input, Output, EventEmitter } from '@angular/core';

import {TodoItem} from './todo-item';

@Component({
    selector: 'todo-line',
    template: `
    &lt;input type=&quot;checkbox&quot; [(ngModel)]=&quot;item.done&quot;&gt;&#10;      {{item.text}}&#10;      &lt;input type=&quot;button&quot; name=&quot;name&quot; value=&quot;X&quot; (click)=&quot;remove(item)&quot;&gt;
`
})
export class TodoLine {
  @Input() item: TodoItem;
  @Output() removeRequested: EventEmitter&lt;any&gt; = new EventEmitter();

  remove( index: number) {
    this.removeRequested.emit(this.item)
  }
}</code></pre>
            </section>
            <section>
              <h1>Bootstraping</h1>
              <pre><code class="js">import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';

import { AppModule } from './app.module';

platformBrowserDynamic().bootstrapModule(AppModule);</code></pre>
            </section>
            </section>
                <section>
                    <section>
                        <h1>Angular Routing</h1>
                        <p>En una SPA no hace falta el ruteo entonces</p>
                        <h3>Porque Routear</h3>
                        <ul>
                            <li>Estado de la App</li>
                            <li>Modularizar la App</li>
                            <li>Implementar restricciones de roles</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Configuracion</h1>
                        <h2>Base URL Tag</h2>
                        <pre><code><base href="/"></code></pre>
                        <pre><code><router-outlet></router-outlet></code></pre>

                    </section>
                    <section>
                        <h1>Objeto de Definicion de Ruta</h1>
                        <p>Las rutas de una app estan en una array, el orden es importante</p>
                        <p>Con este array y el RouterModule se crean las rutas</p>
                        <pre><code class="js">
    const routes: Routes = [
      { path: 'component-one', component: ComponentOne },
      { path: 'component-two', component: ComponentTwo },
      { path: 'component-three', component: ComponentTwo },
        { path: '', redirectTo: 'component-one', pathMatch: 'full' },


    ];
    export const routing = RouterModule.forRoot(routes);
                        </code></pre>
                    </section>
                    <section>
                        <h1>Configuracion de Rutas</h1>
                        <p>Despues se importa este modulo</p>
                        <pre><code class="js">
...
import { routing } from './app.routes';

@NgModule({
  imports: [
    BrowserModule,
    routing
  ],
  declarations: [
    AppComponent,
    ComponentOne,
    ComponentTwo
  ],
  bootstrap: [ AppComponent ]
})
export class AppModule {
}
                        </code></pre>
                    </section>
                    <section>
                        <h1>Links entre rutas</h1>
                        <h3>RouterLink</h3>
                        <pre><code class="html"><a routerLink="/component-one">Component One</a></code></pre>
                        <h3>Navegando por programa</h3>
                        <pre><code class="js">this.router.navigate(['/component-one']);</code></pre>
                    </section>
                    <section>
                        <h1>Parametros de Rutas</h1>
                        <pre><code class="js">
    export const routes: Routes = [
  { path: '', redirectTo: 'product-list', pathMatch: 'full' },
  { path: 'product-list', component: ProductList },
  { path: 'product-details/:id', component: ProductDetails }
];
</code></pre>
                        <pre><code class="js">
goToProductDetails(id) {
  this.router.navigate(['/product-details', id]);
}
</code></pre>

                    </section>
                    <section>
                        <h1>Parametros de Rutas</h1>
                        <pre><code class="js">
import { Component, OnInit, OnDestroy } from '@angular/core';
import { ActivatedRoute } from '@angular/router';

@Component({
  selector: 'product-details',
  template: `
    <div>
      Showing product details for product: {{id}}
    </div>
  `,
})
export class LoanDetailsPage implements OnInit, OnDestroy {
  id: number;
  private sub: any;

  constructor(private route: ActivatedRoute) {}

  ngOnInit() {
    this.sub = this.route.params.subscribe(params => {
       this.id = +params['id']; // (+) converts string 'id' to a number

       // In a real app: dispatch action to load the details here.
    });
  }

  ngOnDestroy() {
    this.sub.unsubscribe();
  }
}
</code></pre>

                    </section>
                    <section>
                        <h1>Guards</h1>
                        <pre><code class="js">
import { Routes, RouterModule } from '@angular/router';
import { AccountPage } from './account-page';
import { LoginRouteGuard } from './login-route-guard';
import { SaveFormsGuard } from './save-forms-guard';

const routes: Routes = [
  { path: 'home', component: HomePage },
  {
    path: 'accounts',
    component: AccountPage,
    canActivate: [LoginRouteGuard],
    canDeactivate: [SaveFormsGuard]
  }
];

export const appRoutingProviders: any[] = [];

export const routing = RouterModule.forRoot(routes);
                        </code></pre>
                    </section>
                    <section>
                        <h1>CanActivate</h1>

                        <pre><code class="js">
import { CanDeactivate } from '@angular/router';
import { Injectable } from '@angular/core';
import { AccountPage } from './account-page';

@Injectable()
export class SaveFormsGuard implements CanDeactivate {

  canDeactivate(component: AccountPage) {
    return component.areFormsSaved();
  }

}
                        </code></pre>
                    </section>

                    <section>
                        <h1>Ejercicio</h1>
                        <pre>
Realizar una aplicación que permita editar una lista de <a href="/users.json">usuarios</a>
La aplicación debe tener una pagina de login,
el usuario logueado es parte de esa lista.
La aplicación debe tener una pagina para mostrar la lista
Otra para editar los usuarios
Otra para dar de alta un usuario
Otra para ver un usuario.
(Se puede usar el formulario de edición con los campos en readonly)
Y otra para eliminar los usuarios

Cada usuario tiene permisos de
agregar nuevos usuarios,
editar usuarios
eliminar usuarios
editar sus propios datos

El usuario no puede eliminarse a si mismo
                        </pre>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>Reactive Forms</h1>
                        <p>Framework para manejar forumalrios y validaciones en angular</p>
                        <ul>
                            <li>Inmutable</li>
                            <li>Streams Observables</li>
                            <li>Acceso sincrono</li>
                            <li>Validacion</li>
                        </ul>
                    </section>
                    <section>
                        <h1>Crear un form control</h1>
                        <pre><code class="js">
export class NameEditorComponent {
  name = new FormControl('');
}                        </code></pre>
<pre><code class="html">
<label>
  Nombre:
  <input type="text" [formControl]="name">
    Nombre {{name.value}}
</label>
                    </code></pre>
                    </section>
                    <section>
                        <h1>Modificar el valor</h1>
<pre><code class="js">
updateName() {
  this.name.setValue('Nancy');
}                        </code></pre>
                    <pre><code class="html">
<p>
  <button (click)="updateName()">Update Name</button>
</p>                     </code></pre>
                    </section>
                    <section>
                        <h1>Varios controles</h1>
<pre><code class="js">export class ProfileEditorComponent {
  profileForm = new FormGroup({
    firstName: new FormControl(''),
    lastName: new FormControl(''),
  });
}                       </code></pre>
                        <pre><code class="html">
                            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    First Name:
    <input type="text" formControlName="firstName"/>
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
                    </code></pre>
                    </section>
                    <section>
                        <h1>Actualizacion parciales del modelo</h1>
                        <pre><code class="js">updateProfile() {
  this.profileForm.patchValue({
    firstName: 'Nancy',
    address: {
      street: '123 Drew Street'
    }
  });
}             </code></pre>
                    </section>
                    <section>
                        <h1>Validaciones</h1>
                        <pre><code class="js">  profileForm = new FormGroup({
    firstName: new FormControl('Andres', [Validators.required, Validators.maxlength(10)]),
    lastName: new FormControl('', Validators.required),
  });
}             </code></pre>
                    </section>
                    <section>
                        <h1>Validaciones Custom</h1>
                        <pre><code class="js"> export function ValidateUrl(control: AbstractControl) {
  if (!control.value.startsWith('https') || !control.value.includes('.io')) {
    return { validUrl: true };
  }
  return null;
}</code></pre>
                        <pre><code class="js">  profileForm = new FormGroup({
    url: new FormControl('Andres', [Validators.required, ValidateUrl]),
  });
}             </code></pre>
                    </section>
                </section>
            </div>
            <div class="footer">
                <a href="https://github.com/utnfrrottads/">
              <span>TTADS - Angular</span>
                </a>
            </div>
        </div>

        <script src="./js/reveal.js"></script>

        <script>
            // More info about config & dependencies:
            // - https://github.com/hakimel/reveal.js#configuration
            // - https://github.com/hakimel/reveal.js#dependencies
            Reveal.initialize({
                hash: true,
                dependencies: [
                    { src: './plugin/markdown/marked.js' },
                    { src: './plugin/markdown/markdown.js' },
                    { src: './plugin/highlight/highlight.js' },
                    { src: './plugin/notes/notes.js', async: true }
                ]
            });
        </script>
    </body>
</html>
